.transactions.table {

  td {
    margin: 0;
    border-bottom: 1px solid #c0c0c0;
    padding: 1em;
    min-width: 85px;

    .transaction-data {
      margin-top: 8px;
      margin-left: 4px;
      margin-bottom: 24px;
      display: inline-block;
    }

    md-input-container {
      margin: 0;
    }

    md-select {
      margin: 0;
    }

  }
}