body {
  font-size: 1em; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

md-progress-circular.md-accent .md-inner .md-left .md-half-circle {
  border-left-color: rgba(255, 255, 255, 0.87); }

md-progress-circular.md-accent .md-inner .md-left .md-half-circle {
  border-top-color: rgba(255, 255, 255, 0.87); }

md-progress-circular.md-accent .md-inner .md-right .md-half-circle {
  border-right-color: rgba(255, 255, 255, 0.87); }

md-progress-circular.md-accent .md-inner .md-right .md-half-circle {
  border-top-color: rgba(255, 255, 255, 0.87); }

md-progress-circular.md-accent .md-inner .md-gap {
  border-top-color: rgba(255, 255, 255, 0.87);
  border-bottom-color: rgba(255, 255, 255, 0.87); }

main {
  margin: 0 auto;
  max-width: 1280px; }

.transactions, .transaction {
  margin: 1em; }

.transaction.add form {
  padding: 1em; }

.transaction.add md-datepicker {
  margin: 18px 0;
  padding-right: 2px; }

.transaction.add .transaction-sync {
  margin-right: 3em;
  height: 48px; }






.transactions.search form {
  padding: 1em; }

.transactions.search md-datepicker {
  margin: 18px 0;
  padding-right: 2px; }
  .transactions.search md-datepicker button {
    padding-top: 0; }

.transactions.search .date-label {
  color: rgba(0, 0, 0, 0.26);
  display: block;
  margin-top: 6px; }


.transactions.table table {
  width: 100%; }

.transactions.table td {
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
  padding: 1em; }
  .transactions.table td.description {
    width: 100px;
    overflow: hidden; }
  .transactions.table td .transaction-data,
  .transactions.table td .transaction-sync {
    margin-left: 4px;
    display: inline-block; }
  .transactions.table td.pointer:hover {
    cursor: pointer; }
  .transactions.table td .transaction-sync {
    maring: 0 auto; }
  .transactions.table td md-input-container {
    margin: 0; }
    .transactions.table td md-input-container input[type="number"] {
      width: 90px; }
  .transactions.table td md-select {
    margin: 0; }
