<div>
    <div class="transaction balances md-whiteframe-2dp" >
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Pending / Unpaid Credit Transactions</span>
                    </h2>
                </div>
            </md-toolbar>
        </md-content>

        <transactions-table type="credit"></transactions-table>
    </div>

    <div class="transaction balances md-whiteframe-2dp" >
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Draft Transactions</span>
                    </h2>
                </div>
            </md-toolbar>
        </md-content>

        <transactions-table type="draft"></transactions-table>
    </div>
</div>