.transactions.search {

  form  {
    padding: 1em;
  }

  md-datepicker {
    margin: 18px 0;
    padding-right: 2px;

    button {
      padding-top: 0;
    }
  }

  .date-label {
    color: rgba(0,0,0,0.26);
    display: block;
    //font-size: 12px;
    margin-top: 6px;
    //transform: translate3d(0,6px,0) scale(.75);
  }
}